/* GLOBAL */
* {
    padding: 0%;
    margin: 0%;
}

:root {
    --color_very_dark_magenta: hsl(300, 43%, 22%);
    --color_dark_grayish_magenta: hsl(303, 10%, 53%);
    --color_live_magenta: hsl(300, 43%, 50%);
    --color_ligth_magenta: hsl(303, 10%, 90%);
    --color_white: hsl(221, 0%, 100%);
    --color_black: hsl(211, 0%, 0%)
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
    background-image: url(../images/bg-pattern-bottom-mobile.svg);
    background-image: url(../images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
}

/* CONTAINER */
.container {
    width: 100%;
}

/* MAIN CONTENT */

/* INFO CONTENT */
.info {
    text-align: center;
    margin: 5rem 2rem 4rem 2rem;
}

.info h1 {
    color: var(--color_very_dark_magenta);
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;
}

.info p {
    color: var(--color_dark_grayish_magenta);
    font-size: 1.5rem;
    font-weight: 500;
}

/* CALIFICATON CONTENT */
.calification {}

.calification_reviews,
.calification_guru,
.calification_tech {
    background-color: var(--color_ligth_magenta);
    border: none;
    border-radius: 1rem;
    margin: 0rem 2rem 2rem 2rem;
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;
}

.star {
    display: inline-block;
    margin: 0.5rem 0rem 1rem 0.5rem;
}

.calification_reviews p,
.calification_guru p,
.calification_tech p {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color_very_dark_magenta);
}

/* REVIEWS CONTENT */
.reviews {
    margin: 3rem 2rem 2rem 2rem;
}

.reviews_first,
.reviews_second,
.reviews_third {
    background-color: var(--color_very_dark_magenta);
    margin: 1rem 0rem 2rem 0rem;
    border: none;
    border-radius: 1rem;
    padding: 2rem 4rem 2rem 4rem;
}

.reviews_info {
    display: flex;
    margin: 1rem 0rem 2rem 0rem;
    /* width: 12%; */
}

.reviews_info img {
    border-radius: 5rem;
    width: 12%;
    position: absolute;
    margin-top: 1.4rem;
}

.reviews_first h1,
.reviews_second h1,
.reviews_third h1 {
    color: var(--color_white);
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0rem 0rem 0.5rem 8rem;
}

.reviews_first span,
.reviews_second span,
.reviews_third span {
    color: var(--color_live_magenta);
    font-size: 1.3rem;
    font-weight: 500;
    display: inline-block;
    margin: 0rem 3rem 1rem 8rem;
}

.reviews_first p,
.reviews_second p,
.reviews_third p {
    color: var(--color_white);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 2rem;
}


/* MEDIA QUERY */
@media (min-width: 1000px) {

    body {
        background-image: url(../images/bg-pattern-bottom-desktop.svg);
        background-image: url(../images/bg-pattern-top-desktop.svg);
    }

    .container {
        display: grid;
        grid: 0.5fr / 1fr 1fr;
    }

    /* INFO */
    .info {
        text-align: left;
        margin: 20rem 2rem 4rem 10rem;

    }

    .info h1 {
        font-size: 5rem;
        padding-right: 26rem;
    }

    .info p {
        font-size: 1.7rem;
        margin-left: 1.7rem;
        padding-right: 12rem;
    }

    /* CALIFICATON CONTENT */
    .calification {
        margin: 24rem 10rem 4rem 2rem;
    }

    .calification_reviews,
    .calification_guru,
    .calification_tech {
        width: 68%;
        display: flex;
        padding: 0.5rem 0rem 0.5rem 0rem;
    }

    .stars {
        margin: 1rem 6rem 0rem 4rem;
    }

    .calification_reviews p,
    .calification_guru p,
    .calification_tech p {
        margin: 1.6rem 2rem 0rem 0rem;
    }

    .calification_guru {
        margin-left: 5rem;
    }

    .calification_tech {
        margin-left: 10rem;
    }

    /* REVIEWS CONTENT */
    .reviews {
        grid-column: 1 / 3;
        display: flex;
        margin: 8rem 2rem 2rem 15rem;
        justify-content: center;
    }

    .reviews_first {
        margin: 1rem 4rem 5rem 0rem;
        padding: 2rem 0rem 2rem 0rem;
        width: 40rem;
    }

    .reviews_second {
        margin: 3rem 4rem 3rem 0rem;
        padding: 2rem 0rem 2rem 0rem;
        width: 40rem;
    }

    .reviews_third {
        margin: 5rem 4rem 1rem 0rem;
        padding: 2rem 0rem 2rem 0rem;
        width: 40rem;
    }

    .reviews_info {
        display: flex;
        margin: 0rem 0rem 2rem 3rem;
    }

    .reviews_info img {
        width: 3%;
        margin-top: 1.4rem;
    }

    .reviews_first h1,
    .reviews_second h1,
    .reviews_third h1 {
        margin: 1rem 0rem 0.2rem 10rem;
        padding: 0rem 1rem 0rem 1rem;
    }

    .reviews_first span,
    .reviews_second span,
    .reviews_third span {
        margin: 0.2rem 3rem 1rem 10rem;
        padding: 0rem 1rem 0rem 1rem;
    }

    .reviews_first p,
    .reviews_second p,
    .reviews_third p {
        padding: 0rem 4rem 0rem 4rem;
    }
}